{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/welcome.jpg' %}" alt="welcome" class="rounded img-fluid bug" style="margin-top:6vw!important;">
        </div>
        <div class="col-sm-6">
            <div class="bug">
                <p>Register and get connected to friends and other people on instergrahm</p>
                <p>Update your profile to increase profile visibility for other Instergrahm users.</p>
            </div>
            <a href="/create_profile/"><button class="btn btn-primary btn-sm bugs">Update profile</button></a>
        </div>
    </div>
</div>
<div class="container-fluid">
  <footer>
    <p class="text-center"> <b>Instergrahm &copy; 2022 from metta</b> </p>
</footer>
  </div>
{% endblock %}